<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18038406368-q715u884tqh7lahduq10a63rq4vn4925.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18038406368-q715u884tqh7lahduq10a63rq4vn4925</string>
	<key>API_KEY</key>
	<string>AIzaSyAX0AL_Tdu9pDxGFkrSUUll3TAN70eP_Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>18038406368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photosharing</string>
	<key>PROJECT_ID</key>
	<string>photosharing-431ec</string>
	<key>STORAGE_BUCKET</key>
	<string>photosharing-431ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18038406368:ios:4b3de82ed1dbf7a983e485</string>
</dict>
</plist>